$purpleMain: #696fff;
$purpleDark: #575bd2;
$purpleLight: #9098ff;
$background: #fff;
$white: #fff;
$black: #000;
$green: #2DB241;
$red: #E92A44;
$grey: #777777;

$darkMain: #232b2d;

$borderRadiusSmall: 4px;

$shadowBlue: 0px 3px 10px rgba(186, 183, 255, 0.4);

$headerHeightNormal: 65px;
$headerHeightBig: 100px;

$min-xxs: 'min-width : 320px';
$min-xs: 'min-width : 576px';
$min-sm: 'min-width : 768px';
$min-md: 'min-width : 992px';
$min-lg: 'min-width : 1200px';
$min-xxl: 'min-width : 1600px';

$max-xxs: 'max-width : 320px';
$max-xs: 'max-width : 576px';
$max-sm: 'max-width : 767px';
$max-md: 'max-width : 991px';
$max-lg: 'max-width : 1199px';
$max-xxl: 'max-width : 1600px';
