// Colors
$purpleMain: #696fff;
$purpleDark: #35397a;
$purpleLight: #9098ff;

$background: #fff;
$white: #fff;
$black: #000;

$green: #2DB241;
$red: #E92A44;

$grey: #777777;
$greyLight: #dfdfdf;
$greyUltraLight: #f3f3f3;

$darkMain: #232b2d;
$darkLight: #2d373a;


// Borders
$borderRadiusSmall: 4px;
$borderRadiusMedium: 7px;


// Other
$shadowBlue: 0px 3px 10px rgba(186, 183, 255, 0.4);

$headerHeight: 70px;

// Media variables
$min-xxs: 'min-width : 320px';
$min-xs: 'min-width : 576px';
$min-sm: 'min-width : 768px';
$min-md: 'min-width : 992px';
$min-lg: 'min-width : 1200px';
$min-xxl: 'min-width : 1600px';

$max-xxs: 'max-width : 320px';
$max-xs: 'max-width : 576px';
$max-sm: 'max-width : 767px';
$max-md: 'max-width : 991px';
$max-lg: 'max-width : 1199px';
$max-xxl: 'max-width : 1600px';
