<nav class="navbar navbar-expand-md fixed-top <%= locals.classes ? locals.classes : '' %>">
    <div class="container">
        <a class="navbar-brand" href="/"><img class="brand-img" src="images/icon-big.png"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav justify-content-center w-100 align-items-center">
                <li class="nav-item">
                    <a class="nav-link" href="/">Головна</a>
                </li>
<!--                <li class="nav-item">-->
<!--                    <a class="nav-link" href="/courses">Курси</a>-->
<!--                </li>-->
                <li class="nav-item">
                    <a class="nav-link" href="/">Підтримка</a>
                </li>
            </ul>
            <div class="navbar-nav align-items-center">
                <a class="nav-link" href="/login">Увійти</a>
            </div>
        </div>
    </div>
</nav>
