<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Mushket</title>

    <link rel="icon" type="image/png" href="/images/favicon.png"/>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css"
          href="/vendor/bower_components/bootstrap/dist/css/bootstrap.min.css">

    <!-- Hamburger CSS -->
    <link rel="stylesheet" type="text/css"
          href="/vendor/bower_components/css-hamburgers/dist/hamburgers.min.css">

    <link rel="stylesheet" href="/vendor/bower_components/components-font-awesome/css/fontawesome-all.min.css">

    <link rel="stylesheet" type="text/css" href="/styles/main.css">
</head>
<body>
<% include ../common/navbar.ejs %>
<div id="main-div">
