<%- include('../common/page-top-layout.ejs', {classes:"transparent"}); %>

<link rel="stylesheet" type="text/css" href="/styles/course.css">

<section class="sectionTop">
    <div class="container text-center">
        <div class="sectionTop-title">-назва курсу-</div>
    </div>
</section>
<section class="sectionCourses">
    <div class="container">

    </div>
</section>


<% include ../common/page-bottom-layout.ejs %>


