<%- include('../common/page-top-layout.ejs', {classes:"transparent"}); %>

<link rel="stylesheet" type="text/css" href="styles/index.css">

<section class="sectionTop">
    <div class="container text-center">
        <div class="sectionTop-title">Курси</div>
        <div class="serch-bar row justify-content-sm-center no-gutters">
            <input class="col-sm-12 col-md-5" type="text" placeholder="Введіть назву курсу" name="search"/>
            <button class="col col-sm-2 col-md-1 offset-md-1 btn btn-light">Знайти</button>
        </div>
    </div>
</section>
<section class="sectionCourses">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-5">
                <div class="sectionCourses__leftCol">
                    <div class="filter-label">Фільтри</div>
                    <div>bkfjjfdf</div>
                    <div class="filter-label">Тип</div>
                    <div>jnfggfj</div>
                    <button class="btn btn-block btn-apply">Застосувати</button>
                </div>
            </div>
            <div class="col-lg-8 col-md-7">
                <div class="sectionCourses__rightCol">
                    <div class="coursesContainer">
                        <% var courseExample = {
                            "courseImageSrc": "/images/courses/course1.jpg",
                            "courseInfoName": "Веб-орієнтовані системи",
                            "courseInfoRating" : 5.0,
                            "courseInfoDescription": "Курс про веб-орієнтовані системи",
                            "courseInfoLector": "Олецький",
                            "courseLink": "#",
                            "lectorLink": "#"
                        }%>
                        <% for(var i=0; i < 10; i ++) {%>
                            <%- include('../templates/course-template.ejs', {course: courseExample}); %>
                        <% } %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<% include ../common/page-bottom-layout.ejs %>


