<%- include('../common/page-top-layout.ejs', {classes:"transparent"}); %>

<link rel="stylesheet" type="text/css" href="styles/index.css">

<section class="sectionTop">
    <div class="container">
        <div class="sectionTop-title">Hello there!</div>
    </div>
</section>
<div style="height: 1000px;"></div>

<% include ../common/page-bottom-layout.ejs %>


