<% include ../common/page-top-layout.ejs %>

<section>
    <div class="container">
        HELLO THERE
        <br>
        BODY CONTENT
    </div>
</section>

<% include ../common/page-bottom-layout.ejs %>


