@import "common/variables";

.sectionCourses {
	margin-top: 30px;
	margin-bottom: 30px;

	&__leftCol {
		background-color: $greyUltraLight;
		border: 1px solid $greyLight;
		height: 400px;
		position: sticky;
		top: $headerHeight + 15px;
	}

	&__rightCol {
		.coursesContainer {
			border-top: 1px solid $greyLight;
		}

		.course {
			&-wrapper {
				display: flex;
				justify-content: space-between;
				align-items: flex-start;
				padding: 20px 0;
				border-bottom: 1px solid $greyLight;;
			}

			&__image {
				flex: 0 0 35%;

				img {
					width: 100%;
				}
			}

			&__info {
				flex: 0 0 65%;

				display: flex;
				flex-direction: column;
				padding-left: 20px;

				&-name {
					font-weight: 700;
					color: $darkMain;
					font-size: 17px;
				}

				&-rating {
					color: $grey;
				}

				&-description {
					font-size: 14px;
					color: $grey
				}

				&-lector {
					font-size: 13px;
					font-weight: 700;
					text-transform: uppercase;
					color: $darkMain;
					margin-top: 10px;
				}
			}
		}
	}
}

