@import "common/variables";

.sectionTop{
  padding-top: 50px;
}
.serch-bar {
  color: $white;
  font-size: 18px;

  input[type=text] {
    width: 100%;
    padding: 5px;
    margin: 0;
    border: 1px solid #1b6590;
  }
}

.sectionCourses {
  margin-top: 30px;
  margin-bottom: 30px;

  &__leftCol {
    background-color: $greyUltraLight;
    border: 1px solid $greyLight;
    //height: 400px;
    position: sticky;
    top: $headerHeight + 15px;
    padding: 10px;

    .filter-label{
      font-size: 19px;
      color: $purpleDark!important;
      border-bottom: 1px solid #696A6D4D;
      margin: 10px 0;
    }
    .btn-apply {
      background: $purpleMain;
      color: $white;
      &:hover{
        background: $purpleDark;
      }
    }

  }

  &__rightCol {
    .coursesContainer {
      border-top: 1px solid $greyLight;
    }

    .course {
      &-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        padding: 20px 0;
        border-bottom: 1px solid $greyLight;;
      }

      &__image {
        flex: 0 0 35%;

        img {
          width: 100%;
        }
      }

      &__info {
        flex: 0 0 65%;

        display: flex;
        flex-direction: column;
        padding-left: 20px;

        &-name {
          font-weight: 700;
          color: $shadowBlue;
          font-size: 17px;
        }

        &-rating {
          color: $grey;
        }

        &-description {
          font-size: 14px;
          color: $grey
        }

        &-lector {
          font-size: 13px;
          font-weight: 700;
          text-transform: uppercase;
          color: $darkMain;
          margin-top: 10px;
        }
      }
    }
  }
}
