@import "common/variables";

#main-div {
	height: 100%;
}

body {
	height: 100%;
	background-color: $darkLight;
}

.navbar {
	background: $darkMain !important;
}

.login-container {
	width: 100%;
	height: 100%;
	justify-items: center;
	display: grid;
	align-items: center;
	margin: auto;
	color: $white;

	.card-container {
		background: $darkMain;
		border-radius: $borderRadiusMedium;
		padding: 15px;

		#card {
			//position: absolute;
			//left: 50%;
			//position: relative;
			-webkit-transition: -webkit-transform 1s;
			transition: transform 0.5s;
			-webkit-transform-style: preserve-3d;
			transform-style: preserve-3d;

			#welcome {
				font-family: 'Berkshire Swash', cursive;
			}

			figure {
				display: block;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				-webkit-backface-visibility: hidden;
				backface-visibility: hidden;

				.sign-in {
					background-color: #B84014;
					color: white;
				}

				.fliper-btn {
					color: #448D76;
				}
			}

			.back {
				-webkit-transform: rotateY(180deg);
				transform: rotateY(180deg);

				#signUp {
					background-color: #B84014;
					color: white;
				}

				.input-group-addon {
					.fa {
						width: 18px;
					}
				}
			}
		}
	}

	#card.flipped {
		-webkit-transform: rotateY(180deg);
		transform: rotateY(180deg);
	}
}
