@import "common/variables";

#main-div {
  height: 100%;
}

body {
  height: 100%;
}

.navbar {
  background: $darkMain !important;
}

.container{
  width: 100%;
  height: 100%;
  justify-items: center;
  display: grid;
  align-items: center;

  form{
    border: 1px solid $darkLight;
    border-radius: $borderRadiusMedium;
    padding: 10px 26px;
    color: $darkLight;
    font-size: 17px;
    font-weight: 700;
    background: $greyUltraLight;

    .ticket-block{
      margin: 10px 0;

      label {
        display: block;
      }

      input, textarea{
        border: 0.1rem solid #bfbfbf;
        font-family: monospace;
        border-radius: 0.4rem;
        font-size: 90%;
        padding: 0.7em 0.5em;
      }
    }
  }
}