@import "../common/variables";

.course {
	&-page:not(.active) {
		display: none;
	}

	&-wrapper {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		padding: 20px 0;
		border-bottom: 1px solid $greyLight;
	}

	&__image {
		&-wrapper {
			flex: 0 0 35%;
			position: relative;
			border-radius: $borderRadiusMedium;
			overflow: hidden;
		}

		background: $greyUltraLight no-repeat center;
		background-size: cover;
		padding-bottom: 56%;
		height: 0;
	}

	&__info {
		flex: 0 0 65%;

		display: flex;
		flex-direction: column;
		padding-left: 20px;

		&-name {
			font-weight: 700;
			color: $darkMain;
			font-size: 17px;
		}

		&-rating {
			padding: 0 0 5px;
			color: $grey;
			font-size: 18px;

			.comments-count {
				font-size: 14px;
				margin-left: 10px;
			}
		}

		&-description {
			font-size: 14px;
			color: $grey
		}

		&-lector {
			font-size: 13px;
			font-weight: 700;
			text-transform: uppercase;
			color: $darkMain;
			margin-top: 10px;
		}
	}
}
