.sectionTop {
	padding-top: 100px;
	padding-bottom: 30px;
	background: #0f2030 url(/images/hero_bg.jpg) fixed center;
	background-size: cover;

	&-title {
		font-size: 28px;
		font-weight: 600;
		color: white;
		text-align: left;
		margin-top: 50px;
	}
}
